.tiles {
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 0px 0px;
  font-size: smaller;
  text-align: center;
}
.headers {
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 0px;
  background-color: rgb(206, 214, 215);
}

.mat-grid-list {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 50px 120px 0px 120px;
  width: 100%;
}

.div-wrap {
  display: flex;
  justify-content: center;
}

/* Add shadow on hover */
.menu-action-button {
  border-style: none;
  background-color: transparent;
}

.menu-action-button:hover {

  border-radius: 100%;
  box-shadow: 0px 0px 0px 1px rgba(131, 140, 141, 0.3);
  background-color: rgba(217, 239, 239, 0.3);
}
