.controls-container {
  width: 100%;
  padding: 4%;
}
.toolbar-title {
  margin-left: 16px; 
}
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.normal-form {
  margin: 2px;
  background-color: transparent;
  box-shadow: none;
}